.form__button {
  margin-top: 21px;
  margin-left: 203px;
  width: 214px;
  height: 38px;
  text-align: center;
  line-height: 22px;
  color: white;
  background-color: black;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

@media screen and (max-width: 478px) {
  .form__button {
    margin-left: 88px;
  }
}