.places__place {
  box-sizing: border-box;
  padding: 9.5% 5% 13% 11%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .places__place {
    box-sizing: border-box;
    padding: 3%;
    justify-content: flex-start;
  }
}