.header__list {
  margin: 0 auto;
  padding: 60px 0 0 0;
  min-height: 118px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  max-width: 1388px;
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 478px) {
  .header__list {
    flex-direction: column;
    padding: 10px 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  .header__list {
    min-height: 60px;
    padding: 40px 0 0 0;
  }
}