.header__item {
  margin: 0 22px 0 22px;
  padding: 0;
}

.header__item:last-of-type {
  justify-self: right;
  margin-left: auto;
}

@media screen and (max-width: 478px) {
  .header__item {
    margin: 20px;
    padding: 0;
  }
  .header__item:last-of-type {
    margin: 20px;
  }
}